
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#infoDiv  {
  top: 6.4%;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 40px 20px 20px;
  color: #4a148c;
}

#articleDiv {
  align-self: center;
    margin-top: 10px !important;
  width: 100%;
  max-width: 850px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.author {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #e1f5fe;
  border-left: 6px solid #7b1fa2;
  border-radius: 10px;
}

.author img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(123, 31, 162, 0.3);
}

.name {
  font-size: 22px;
  font-weight: 600;
  color: #4a148c;
}

.description {
  text-indent: 40px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  padding: 0 10px;
  color: #444;
}

#descriptionText  {
  font-size: 80%;
}

#addComment {
  width: 90%;
  max-width: 850px;
  margin: 30px auto 10px;
  height: 130px;
  padding: 12px;
  font-size: 15px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  resize: none;
  display: flex;
  align-self: center;
}

#sendComment {
  width: 100px;
  margin-right: 5%;
}

#commentsSection  {
  align-self: center;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  width: 850px;
  justify-self: center;
  justify-content: right;
  align-items: end;
}


#photoNnameUserComment  {
  display: flex;
}

#titleComment {
  margin-top: 20px;
  text-align: left;
}

#divComments  {
  margin-top: 10px;
  margin-bottom: 15px;
    width: 90%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

#authorPicComment {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#nameUserComment  {
  font-size: 80%;
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 600;
  color: #4a148c;

  
}

#userCommentP  {
  padding: 0;
  text-align: justify;
  font-size: 80%;
}

#sendComment:hover {
  background-color: #5e128a;
}

#sendComment{
  color: black;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 24px;
    margin-top: 20px;
  }

  .name {
    font-size: 20px;
  }

  .description {
    font-size: 15px;
  }

  #commentsSection  {
    width: 400px;
    justify-content: center;
    display: flex;
  }

  #addComment {
    height: 110px;
    margin-right: 0;
    margin-left: 0;
  }
}