<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Artigo</title>

    <link rel="icon" href="./img/newLogo.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/globalStyle.css" />
    <link rel="stylesheet" href="./css/createArticle.css" />
  </head>

  <body>
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      style="
        display: flex;
        width: 100vw;
        height: 13vh;
        background: linear-gradient(50deg, #9e9e9e, #6b4c9a);
      "
    >
      <div class="col-md-3 mb-2 mb-md-0">
        <a
          href="./home.html"
          class="d-inline-flex align-items-center text-decoration-none"
        >
          <img
            src="./img/newLogoWhite.png"
            alt="Logo"
            width="60"
            height="50"
            class="me-2"
          />
          <span class="text-white fs-4">Manual do Jovem</span>
        </a>
      </div>


      <ul
        class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
        id="headerOptions"
      >
        <li>
          <a
            href="./professional-screen.html"
            class="nav-link px-2 icon-home active"
            style="color: white"
            >Profissional</a
          >
        </li>
        <li>
          <a
            href="./financial-screen.html"
            class="nav-link px-2 icon-create active"
            style="color: white"
          >
            Financeiro</a
          >
        </li>
        <li>
          <a
            href="./personal-screen.html"
            class="nav-link px-2 icon-register active"
            style="color: white"
            >Pessoal</a
          >
        </li>
      </ul>

      <div id="photoDiv">
        <button id="photoBtn" type="button">
          <img src="./img/fotoPadrao.png" alt="Foto Perfil" id="photoImg" />
        </button>
      </div>
    </header>

    <main class="container">
      <div id="infoDiv" class="hidden">
  <a href="./showUser.html" class="profileLink">Ver Perfil</a>
  <hr>
  <a href="./editProfile.html" class="profileLink">Editar Perfil</a>
  <hr>
  <a href="./contact.html" class="profileLink">Entrar em contato</a>
  <hr>
  <a href="./resetPassword.html" class="profileLink">Redefinir Senha</a>
  <hr class="areaOptionsLink">
  <a href="./professional-screen.html" class="areaOptionsLink"><b>Área Profissional</b></a>
  <hr class="areaOptionsLink">
  <a href="./financial-screen.html" class="areaOptionsLink"><b>Área Financeira</b></a>
  <hr class="areaOptionsLink">
  <a href="./personal-screen.html" class="areaOptionsLink"><b>Área Pessoal</b></a>
  <hr class="areaOptionsLink">
  <a href="./createArticle.html" class="areaOptionsLink"><b>+Criar Artigos</b></a>
  <hr>
  <a href="../index.html" class="profileLink" style="color: red;"><b>Sair</b></a>
</div>

      <form id="createArticleForm">
        <div id="articleTitleDiv">
          <label for="title" class="form-label">Título do Artigo</label>
          <input
            type="text"
            id="title"
            class="form-control"
            placeholder="Digite o título do artigo"
            required
          />
        </div>

        <div id="articleDescriptionDiv">
          <label for="description" class="form-label">Descrição</label>
          <input
            type="text"
            id="description"
            class="form-control"
            placeholder="Digite uma breve descrição do artigo"
            required
          />
        </div>

        <div id="articleContentDiv">
          <label for="content" class="form-label">Conteúdo</label>
          <textarea
            id="content"
            class="form-control"
            rows="7"
            placeholder="Digite o conteúdo do artigo"
            required
          ></textarea>
        </div>

        <div id="articleCategoryDiv">
          <label for="category"></label>
          <select id="category" class="form-select" required>
            <option value="">Selecione uma categoria</option>
            <option value="profissional">Profissional</option>
            <option value="pessoal">Pessoal</option>
            <option value="financeiro">Financeiro</option>
          </select>
        </div>

        <button class="buttonTheme" id="createArticleBtn">Criar</button>
      </form>

      <br />

      <div id="previewDiv">
        <h2>Pré-visualização do Artigo</h2>
        <hr />
        <h3 id="titlePreview">Título do Artigo</h3>
        <p id="descriptionPreview">Descrição aparecerá aqui.</p>
        <p id="contentPreview">O conteúdo do artigo será exibido aqui.</p>
      </div>

      <div id="whiteSpace"></div>

      <footer class="footer">
        © 2025 Desenvolvido por TDS. Todos os direitos reservados.
      </footer>
    </main>

    <script src="./js/Articles/writeArticle.js"></script>
    <script src="./js/Articles/optionsArea.js"></script>
    <script src="./js/Users/changeProfilePhoto.js"></script>
  </body>
</html>
