<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Redefinir Senha</title>
  <link rel="icon" href="./img/newLogo.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/globalStyle.css" />
  <link rel="stylesheet" href="./css/resetPassword.css" />
</head>

<body>

  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    style="
      display: flex;
      width: 100vw;
      height: 13vh;
background: linear-gradient(50deg, #9e9e9e, #6b4c9a);
    ">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="../index.html" class="d-inline-flex align-items-center text-decoration-none">
        <img src="./img/newLogoWhite.png"alt="Logo" width="60" height="50" class="me-2" />
        <span class="text-white fs-4">Manual do Jovem</span>
      </a>
    </div>
  </header>

  <main class="container">
    <div id="fieldsDiv">
      <p id="firstLine">Vamos enviar o codigo de verificação via email </p>
      <p id="secondLine"> Insira nos campos abaixo o código recebido</p>
      <div>
        <form action="">
          <input type="text" maxlength="1" id="field1" class="field" pattern="[0-9]{1}" required />
          <input type="text" maxlength="1" id="field2" class="field" pattern="[0-9]{1}" required />
          <input type="text" maxlength="1" id="field3" class="field" pattern="[0-9]{1}" required />
          <input type="text" maxlength="1" id="field4" class="field" pattern="[0-9]{1}" required />
          <button type="submit" id="confirmButton">confirmar</button>
        </form>
      </div>
    </div>

    <div id="whiteSpace"></div>

    <footer class="footer">
      © 2025 Desenvolvido por TDS. Todos os direitos reservados.
    </footer>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>